/* Styles for the application */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Styles for main container */
.container {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.container .header {
  background-color: #FFF;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto;
  height: 190px;
  line-height: 190px;
}

.container .header .navigation {
  width: 30%;
}

.container .header .navigation .options {
  margin: 0;
  list-style: none;
  padding: 0;
}

.container .header .navigation .options li {
  display: inline-block;
}

.container .header .navigation .options li a {
  padding: 0 5px;
  color: #212121;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
}

.container .header .navigation .options li a:hover {
  color: rgba(204, 219, 222, 0.78);
  text-decoration: none;
  font-weight: bold;
}

.container .header .navigation .options li a.engineer {
  text-decoration: none;
  color: #cc9f47;
  font-weight: 600;
}

.container .header .logo {
  width: 20%;
}

.container .header .logo .wiki-logo {
  height: 150px;
  vertical-align: middle;
}

.container .header .search-container {
  width: 50%;
}

.container .header .search-container .search-icon {
  top: 13px;
  left: 7px;
  font-size: 20px;
  color: rgba(204, 219, 222, 0.78);
}

.container .header .search-container .user-search {
  height: 45px;
  width: 90%;
  padding: 0 0 0 35px;
  font-size: 18px;
  z-index: 1;
  color: #525252;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 -1px #cc9f47 inset;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
}

.container .header .user-search::placeholder {
  color: #CCC;
  font-size: 14px;
  text-transform: uppercase;
}

/* Styles for sidebar */
.container .sidebar {
  background-color: #FFF;
  position: fixed;
  font-size: 15px;
  color: #555;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 270px;
  top: 50%;
  height: 40px;
  margin-left: -95px !important;
  z-index: 2;
}

.container .sidebar i {
  color: rgb(85, 85, 85);
  font-size: 15px;
  margin: 5px;
}

.container .sidebar i:hover {
  color: #3ba27c !important;
  cursor: pointer;
}

/*styles for modal*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  width: 600px;
  display: block;
  margin: 0 auto;
  background-color: white;
  margin-top: 80px;
  position: relative;
}

.modal-content  .results-container {
  height: 400px;
  overflow-y: scroll;
}

.modal-content .search-icon {
  color: rgba(204, 219, 222, 0.78);
  position: absolute;
  top: 15px;
}

.modal-content .sortAsc {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #3ba27c;
  font-size: 18px;
  font-weight: 600;
}

.modal-content .sortDesc {
  position: absolute;
  top: 15px;
  right: 0px;
  color: #3ba27c;
  font-size: 18px;
  font-weight: 600;
}

.modal-content .sort:hover {
  color: #cc9f47;
  cursor: pointer;
}

.modal-content .search {
  height: 45px;
  width: 100%;
  padding: 0 0 0 35px;
  font-size: 18px;
  z-index: 1;
  color: #212121;
  text-transform: capitalize;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 -1px #cc9f47 inset;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

.modal-content .search::placeholder {
  color: #CCC;
  font-size: 14px;
  text-transform: uppercase;
}

.modal-content .results {
  list-style: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.modal-content .results li {
  border-bottom: 1px solid rgba(97, 146, 156, 0.99);
  padding: 10px;
}

.modal-content .results li:hover {
  cursor: pointer;
}

.modal-content .results li:hover  a {
  color: #3ba27c;
  cursor: pointer;
}

.modal-content .results li p {
  color: #cc9f47;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.modal-content .results li a {
  text-decoration: none;
  color: #888;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.modal .close-button {
  width: 4.5rem;
  cursor: pointer;
  color: #212121;
  background-color: #FFF;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  right: 0px;
  top: 40px;
  font-size: 12px;
}

.modal .close-button:hover {
  color: #888;
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*styles for content*/
.container .content {
  width: 1100px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 14px;
}

.container .content .welcome {
  text-align: center;
  font-size: 80px;
  font-family: 'Raleway', sans-serif;
  color: #888;
}

.container .content .welcome span {
  font-family: 'Montserrat', sans-serif;
  color: rgba(97, 146, 156, 0.99);
  font-style: italic;
}

/* Mediaqueries for Responsive web design */
@media only screen and (max-width: 1204px) {
  .container .header {
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
  }

  .container .header .logo {
    width: inherit;
  }

  .container .content {
    width: 100%;
    padding: 8%;
  }

  .container .header .search-container {
    width: 100%;
    height: 110px;
    line-height: 110px;
  }

  .container .header .search-container .user-search {
    width: 60%;
  }

  .container .header .navigation {
    width: inherit;
    height: 70px;
    line-height: 80px;
  }

  .container .content .welcome {
    font-size: 44px;
  }
}

@media only screen and (max-width: 768px) {
  .container .content .welcome {
    font-size: 34px;
  }

  .container .content {
    padding: 8%;
  }

  .modal-content {
    width: 400px;
  }
}

@media only screen and (max-width: 640px) {
  .container .content .welcome {
    font-size: 20px;
  }

  .container .sidebar {
    font-size: 12px;
  }

  .container .content {
    padding: 13%;
  }

  .modal-content {
    width: 350px;
  }

  .modal-content .search {
    font-size: 16px;
  }

  .modal-content .results li {
    padding: 15px;
  }

  .modal-content .results li a {
    font-size: 12px;
  }

  .container .header .search::placeholder {
    font-size: 14px;
  }
}
